<footer>
<div class="wrapper">
<div class="footer-col-wrapper">

<div class="col col-1">
<ul class="contact-list">
<li>{{ site.realname }}</li>
<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
<li><a href="/pgp.asc">D073 AB5C 6131 4909 4E2B  89F2 EF82 CEEA 20F9 2786</a></li>
</ul>
</div>

<div class="col col-2">

<ul class="icon-contact-list">
<li><a href="https://github.com/drichardson"><img src="/assets/svg/github.svg" alt="Github Profile"></a></li>
<li><a href="https://www.youtube.com/channel/UC5a8OHaMsB41ArzTYL2T4TQ"><img src="/assets/svg/youtube.svg" alt="YouTube Channel"></a></li>
<li><a href="https://stackoverflow.com/users/196964/doug-richardson"><img src="/assets/svg/stackoverflow.svg" alt="Stack Overflow Profile"></a></li>
<li><a href="https://www.linkedin.com/in/douglasrichardson"><img src="/assets/svg/linkedin.svg" alt="LinkedIn Profile"></a></li>
<li><a href="https://twitter.com/dougrichardson_"><img src="/assets/svg/twitter.svg" alt="Twitter Profile"></a></li>
<li><a href="{{ "/feed.rss" | prepend: site.baseurl }}"><img src="/assets/svg/rss.svg" alt="RSS feed"></a></li>
</ul>
</div>

</div>
</div>

</footer>
