<footer>
<div class="wrapper">
<div class="footer-col-wrapper">

<div class="col col-1">
<ul class="contact-list">
<li>{{ site.realname }}</li>
<li>Working on
	<a href="https://playbotg.com">Boots on the Ground</a>
	at
	<a href="https://recklesscowboys.com">Reckless Cowboys</a>
</li>
<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
<li><a href="/pgp.asc">ed25519/8AA46ADA9C89C7E8</a></li>
</ul>
</div>

<div class="col col-2">
<ul class="text-contact-list">
<li><a href="https://github.com/drichardson">GitHub</a></li>
<li><a href="https://www.youtube.com/channel/UC5a8OHaMsB41ArzTYL2T4TQ">YouTube</a></li>
<li><a href="https://stackoverflow.com/users/196964/doug-richardson">Stack Overflow</a></li>
<li><a href="https://www.linkedin.com/in/douglasrichardson">LinkedIn</a></li>
<li><a href="https://twitter.com/dougrichardson_">Twitter</a></li>
<li><a href="{{ "/feed.rss" | prepend: site.baseurl }}">RSS</a></li>
</ul>
</div>

</div>
</div>

</footer>
