/**
 * Site header
 */
.site-header {
    position: fixed;
    border-bottom: 1px solid $grey-color-light;
    width: 100%;
    background-color: white;
}

.site-title {
    font-size: 2em;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.rss-icon {
  height: 2em;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;

    .heading {
        font-size: 18px;
        margin-bottom: $spacing-unit / 2;
    }
}

.contact-list {
    list-style: none;
    margin-left: 0;

    a {
        text-decoration: none;

        &:hover span.username {
            text-decoration: underline;
        }
    }
}

.header-col-wrapper {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;

    .col {
        flex: 0 1 auto;
        padding-left: $spacing-unit / 2;
    }

    .col-1 {
    }

    .col-2 {
    }
}


.footer-col-wrapper {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;

    .col {
        flex: 0 1 auto;
        margin-bottom: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    .col-1 {
    }

    .col-2 {
    }

    .col-3 {
    }
}

/**
 * Page content
 */
.page-content {

    padding: $spacing-unit 0;

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24pt;
        margin-bottom: $spacing-unit;

        h1 {
            font-size: 1em;
        }
    }
}

.post-list, .note-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    .meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .link {
        font-size: 1.2em;
    }
}

.note-list {
    .description {
        font-style: italic;
        color: $grey-color;
    }
}

/**
 * Posts
 */
.post, .note {
    .header {
        margin-bottom: $spacing-unit;
    }

    .meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .title {
        padding: 0.2em;
        font-size: 4vw;
        text-transform: uppercase;
        background-color: $grey-color-light;

        @include media-query($on-laptop) {
            font-size: 2em;
        }
    }

    .content {

        p, ul, ol, pre {
            margin-bottom: $spacing-unit;
        }

        h1 {
            font-size: 1.6em;
            text-transform: uppercase;

            @include media-query($on-laptop) {
                font-size: 28px;
            }
        }

        h2 {
            font-size: 1.3em;
            text-transform: uppercase;
            color: lighten($grey-color-dark, 20%);

            @include media-query($on-laptop) {
                font-size: 22px;
            }
        }

        h3 {
            font-size: 22px;

            @include media-query($on-laptop) {
                font-size: 20px;
            }
        }

        h4 {
            font-size: 20px;

            @include media-query($on-laptop) {
                font-size: 18px;
            }
        }
    }
}

#breadcrumbs {
    text-transform: lowercase;
}
