/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    width: 100%;
    background-color: white;
    padding: .4em 0;
}

.rss-icon {
  height: 2em;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.contact-list {
    list-style: none;
    margin-left: 0;

    a {
        text-decoration: none;

        &:hover span.username {
            text-decoration: underline;
        }
    }
}

.header-col-wrapper {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;

    .col {
        flex: 0 1 auto;
        padding-left: $spacing-unit / 2;
    }

    .col-1 {
    }

    .col-2 {
    }
}


.footer-col-wrapper {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;

    .col {
        flex: 0 1 auto;
        margin-bottom: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    .col-1 {
    }

    .col-2 {
    }

    .col-3 {
    }
}

/**
 * Page content
 */
main {
    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $spacing-unit;
    }
}

.list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    .meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .description {
        font-style: italic;
        color: $grey-color;
    }
}

.title {
    padding: 0;
    font-size: 3vmax;
    background-color: $grey-color-light;

    @include media-query($on-laptop) {
        font-size: 2em;
    }
}

/**
 * Posts
 */
.post, .note {
    .header {
        margin-bottom: $spacing-unit;
    }

    .meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .content {

        p, ul, ol, pre {
            margin-bottom: $spacing-unit;
        }
    }
}

#breadcrumbs {
    text-transform: lowercase;
}

