---
layout: default
---
  
<article class="note" itemscope itemtype="http://schema.org/Article">

  <header class="header">
      <h1 class="title" itemprop="name headline">
          {% if page.draft %}(DRAFT){% endif %} {{ page.title }}
      </h1>
      <p class="meta">
      Last Updated:
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateModified">
          {{ page.date | date: "%B %-d %Y" }}
        </time>
      </p>
  </header>

  <div class="content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
