---
layout: default
---
  
<article itemscope itemtype="http://schema.org/Article">

  <header class="header">
      <div class="title" itemprop="name headline">
        <div class="wrapper">
            {{page.title}}{% if page.draft %}(draft){% endif %}
        </div>
      </div>
      <p class="meta wrapper">
      Last Updated:
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateModified">
          {{ page.date | date: "%B %-d %Y" }}
        </time>
      </p>
  </header>

  <div class="content wrapper" itemprop="articleBody">
    {{ content }}
  </div>

</article>
